* {
    font-family: 'JetBrainsMonoNerdFont', 'Noto Sans CJK';
    font-size: 18px;
    min-height: 0px;
}

window#waybar{
    background: rgba(219, 217, 218, 0.0);
    border: 0px solid rgba(0, 0, 0, 0.0);
    color: #D3B76D;
}

#network, #clock, #battery #language{
    padding: 0 15px;
    color: #D3B76D;
}

#window {
    padding: 0 15px;
    font-weight: bold;
    color: #559887;

    border-width: 2px; 
    border-color: #559887;
    border-bottom-style: solid;
}
