* {
    font-family: 'NotoSansMonoNerdFont', 'Noto Sans CJK';
    font-size: 18px;
    min-height: 0px;
}

window#waybar{
    background: rgba(70,36,44, 0.8);
    border: 0px solid rgba(0, 0, 0, 0.0);
    color: #fbe4dc;
}

#network, #clock, #battery #language{
    padding: 0 15px;
    color: #fbe4dc;
}

#window {
    padding: 0 15px;
    font-weight: bold;
    color: #c0c5d4;

    border-width: 2px; 
    border-color: #c0c5d4;
    border-bottom-style: solid;
}
