* {
    font-size: 18px;
    min-height: 0px;
    font-family: 'Noto Sans CJK';
}

window#waybar{
    background-color: rgba(26, 30, 37, 0.9);
    border: 0px solid rgba(0, 0, 0, 0.0);
}

#network, #clock, #battery, #language{
    padding: 0 15px;
    color: #F5D3BF;
}

#window {
    padding: 0 15px;
    color: #F5D3BF;

    border-width: 2px; 
    border-color: #F5D3BF;
    border-bottom-style: solid;
}
